<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link href="{% static 'css/delete_user.css' %}" rel="stylesheet">
    <title>Удалить учетную запись</title>
</head>
<body>
 <div class="container">
    <h2>Вы уверены, что хотите удалить свою учетную запись?</h2>
    <form action="{% url 'delete_user_confirmed' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'home' %}">Отменить</a>
 </div>
</body>
</html>
