<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <meta charset="utf-8"/>
    {% load static %}
    <!-- Подключаем CSS файл -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <script src="{% static 'js/home.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
</head>
<body>

<header id="header">
    <h1><span class = "teacher-name">Здравствуйте,</span> <span id="teacher-name" class = "teacher-name">{{ user.username }}</span></h1>
</div>
</header>


<main>
    <!-- Боковая панель -->
    <article class="side-nav">
        <section>
             <!-- Панель информации об аккаунте -->
            <div id="sidebar" class="sidebar">
            <button class="close-btn" onclick="closeSidebar()"> <img src="{% static 'images/close-sidebar.png' %}" alt="Аккаунт"></button>
            <h3>Информация </br> об аккаунте</h3>
            <p><strong>Статус:</strong> {{ user.role }} </p>
            <p><strong>Имя пользователя:</strong> {{ user.username}}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
                   <a href = "{% url 'register' %}"><button class="btn-logout">Выйти из аккаунта</button></a>
                   <button class="btn-values" onclick="showContent('change')">Изменить данные аккаунта</button>
                   <a href = "{% url 'delete_user' %}"><button class="btn-delete">Удалить аккаунт</button></a>
            </div>

           <nav class="side-nav">
           <!-- Кнопка открытия панели -->
            <button id = "account" class="open-btn" onclick="openSidebar()">☰ Аккаунт</button>
               <div class="navigation">
                   {% if user.role == 'teacher' %}
                       <button class="butt" onclick="showContent('create-module')">Модули</button>
                   {% endif %}
                   </br>
                   <button class="butt" onclick="showContent('library')">Библиотека лекций</button>
               </div>
           </nav>
        </section>
    </article>

    <!-- Основной контент -->
    <div class="content">
        <article class = "con">
            <h2 id="desc">Навигация по сайту</h2>
            <div class = "text">
                <h3>Аккаунт</h3>
                <ul>
                    <li><p>В этом разделе отображается основная информация о пользователе: статус (например, "Преподаватель"), имя пользователя, email и другие данные.</p></li>
                    <li><p>Предоставляется возможность редактировать данные аккаунта (например, изменить имя, email или пароль) или удалить акакунт.</p></li>
               </ul>
                {% if user.role == 'teacher' %}
                <h3>Модули</h3>
                <ul>
                    <li><p>Данный раздел доступен только преподавателям для создания учебных модулей (конкретно изучаемой области математики)</p></li>
                    <li><p>Преподаватель может структурировать материал, добавлять новые лекции, редактировать, удалять существующие.</p></li>
               </ul>
                 {% endif %}
                <h3>Библиотека лекций</h3>
                <ul>
                    <li><p>В этом разделе хранятся все созданные преподавателем лекции.</p></li>
                    <li><p>Возможна сортировка по названию лекции / по модулю лекции.</p></li>
               </ul>
            </div>
        </article>
        <div id="library-content" class="hidden">
            <section>
                <h2 id="section2">Библиотека лекций</h2>
                <label for="subject">Выберите предмет:</label>
                <select id="subject">
                    <option value="">-- Выберите предмет --</option>
                    <option value="math-analysis">Математический анализ</option>
                    <option value="algebra">Алгебра</option>
                    <option value="discrete-math">Дискретная математика</option>
                </select>

                <div id="math-analysis" class="lecture-list" style="display: none;"></div>
                <div id="algebra" class="lecture-list" style="display: none;"></div>
                <div id="discrete-math" class="lecture-list" style="display: none;"></div>
                <button class = "close" onclick="closeModule()">Назад</button>
            </section>
        </div>

    <div id="change-content" class="hidden">
        <h2>Изменение данных аккаунта</h2>
        <a href = "{% url 'update_profile' %}"><button class="btn">Изменить профиль аккаунта</button></a>
        <a href = "{% url 'update_password' %}"><button class="btn">Изменить пароль аккаунта</button></a>
        <button class = "close" onclick="closeModule()">Назад</button>
    </div>
    </div>

</main>

<footer>
    <div class = "wrapper">
        <p class = "title">Контакты</p>
        <div class = "textwidget">
            <p><b>Почта:</b> visualmathproject2024@gmail.com </p>
        </div>
    </div>
</footer>

</body>
</html>