* {
    padding: 0;
    margin: 0;
}
header h1 {
    font-family: "Montserrat Medium", serif;
    text-align: center;
    font-size: 3rem;
    color: white;
    background: linear-gradient(to bottom, #4a90e2, #007bff);
    padding: 20px 0;
    margin: 0;
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
 /* header animation */
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 1;
}
span:nth-child(1) {
    animation: fade-in 0.8 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(2) {
    animation: fade-in 0.8 0.35s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(3) {
    animation: fade-in 0.8 0.45s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    flex-grow: 1;
}
body {
    background: #f4f4f9;
    color: #333;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Вертикальный стек */
}
article {
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;        /* Размер шрифта */
    color: #333333;         /* Темный цвет текста */
    line-height: 1.6;       /* Межстрочный интервал */
}
article, .container{
    border-radius: 10px;
}
section {
    margin-bottom: 1.5rem;
}
.text {
    width: 60%;
}

/* table opportunities */
table {
    width: 100%;
    border-collapse: collapse; /* отображение смежных ячеек */
    margin: 20px 0;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #007bff;
    color:white
}
tr:hover {
    background-color: #f1f1f1;
}

/*for mobile phones*/
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

/* form sign up and input */
.container {
    width: 30%;
    margin: 0 0;
    max-width: 500px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.send {
    width: 30%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: auto;
}
.reg {
    width: 75%;
}
.send:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.card-body {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
}

.login-box, .signup-box {
    width: 80%; /* Контейнеры форм занимают всю ширину */
}

.forms {
    /*display: flex;*/
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease;
}
.input-group {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    margin-bottom: 8px; /* Отступ между группами ввода */
}
.input-group-text {
    padding: 10px; /* Отступы для иконки */
    background-color: #f8f9fa; /* Фон для иконки */
    border: 1px solid #ced4da; /* Граница для иконки */
    margin-right: 10px;
    width: 20px;
    text-align: center;

    /* на всякий случай но вроде и без этого работает*/
    display: flex; /* Используем flexbox для центровки иконки */
    justify-content: center; /* Горизонтальная центровка */
    align-items: center; /* Вертикальная центровка */
    /* на всякий случай но вроде и без этого работает*/
}

input.form-control {
    flex: 1;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ced4da;
    width: 70%;
    margin: 4px 0 2px auto;
    border-radius: 5px;
}

input.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.invalid-feedback{
    color: white;
    padding: 4px;
    background: red;
    margin-left: 4px;
    border-radius: 10px;
}

.password-reset-link {
    text-decoration: none;  /* Убирает подчеркивание */
    font-size: 0.9em;       /* Устанавливает меньший размер шрифта */
    color: #808080;         /* Устанавливает серый цвет текста */
}

.password-reset-link:hover {
    color: #555555;         /* Цвет при наведении (темно-серый) */
}


footer {
    background: #007BFF; /* Тёмный фон */
    color: white; /* Светлый текст */
    padding: 10px 0 10px 0; /* Отступы сверху и снизу */
    text-align: left; /* Выравнивание текста по центру */
    height: 80px;
    /*border-top: 4px solid #8CBA80;  Верхняя граница футера */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    position: relative;
}

/* Стили для контейнера внутри футера */
footer .wrapper {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 10px; /* Центрирование контейнера */
    padding: 0 10px; /* Отступы слева и справа */
}

/* Стили для заголовка футера */
footer .title {
    margin-top: 5px;
    font-size: 1rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 1rem; /* Отступ снизу */
    color: white; /* Синий цвет заголовка */
    text-transform: uppercase; /* Заглавные буквы */
}

/* Стили для текста внутри футера */
footer .textwidget p {
    font-size: 1rem; /* Размер шрифта */
    margin: 0.5rem 0; /* Отступы между строками */
    line-height: 1.2; /* Межстрочный интервал */
}

footer .textwidget b {
    color: black;
}

/* Стили для ссылок (если они появятся) */
footer a {
    color: #3498db; /* Синий цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание */
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

footer a:hover {
    color: #1abc9c; /* Цвет ссылки при наведении */
}

.button-container {
    display: flex;          /* Делаем контейнер гибким */
    justify-content: flex-end; /* Выровнять содержимое вправо */
    margin-top: 10px;       /* Добавить отступ сверху */
}

.link-button {
    all: unset;             /* Убирает все стандартные стили кнопки */
    font-size: 0.9em;       /* Устанавливает меньший размер шрифта */
    color: #808080;         /* Устанавливает серый цвет текста */
    cursor: pointer;        /* Делаем кнопку кликабельной */
    display: block;         /* Размещает кнопку как блочный элемент */
    text-align: right;      /* Выровнять текст по правому краю */
    margin-top: 10px;       /* Добавляет отступ сверху */

}

.link-button:hover {
    color: #555555;         /* Меняет цвет при наведении */
}